<a href="https://colab.research.google.com/github/Martin-Tello/PandasEY/blob/main/Presentaci%C3%B3nPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importar arhivos**

In [ ]:
#Importar libreria

In [ ]:
#importar CSV

In [ ]:
#importar EXCEL

In [ ]:
#importar SQL

In [ ]:
#importar Json

In [ ]:
#importar HTML
##https://en.wikipedia.org/wiki/South_America

**DATAFRAME**

In [ ]:
# Crear un DataFrame

**Manipulación de columnas y filas**

In [ ]:
# Cambiar el nombre de la columna 'Ciudad' a 'Localidad'

In [ ]:
# Seleccionar solo las filas de las personas mayores de 30 años

In [ ]:
#Cambiar valor en específico de alguna Fila

In [ ]:
# Agregar una columna calculando el índice de masa corporal (IMC) de cada persona

In [ ]:
# Seleccionar solo las filas de las personas con IMC mayor a 25 (sobrepeso)

In [ ]:
# Eliminar una columna

In [ ]:
# Ordenar el DataFrame por nombre

**Seleccionar todas las filas y columnas de un DataFrame:**

In [ ]:
# Selección de todas las filas y columnas

In [ ]:
# Seleccionar filas y columnas específicas

In [ ]:
#Iterar cierta parte del dataframe

In [ ]:
# Selección de filas con un valor específico en una columna

**Filtrado de datos**

In [ ]:
#Filtrar por una columna en específico:

In [ ]:
#Filtrar utilizando múltiples condiciones:

In [ ]:
##Filtrar utilizando expresiones regulares:

In [ ]:
#Filtrar utilizando la función query():

**Agrupación de datos**

In [ ]:
# Agrupar los datos por ciudad y contar el número de personas en cada ciudad

In [ ]:
# Agrupar los datos por profesión y obtener el salario promedio de cada grupo

**Pivot Tables**

In [ ]:
#crear una tabla

**Caso Aplicado**

In [ ]:
#Gráfico circular

In [ ]:
#Gráfico de barras